.banner {
  color: white;
  object-fit: contain;
  width: 100%;
  height: 50vw;
  margin-bottom: -9vw;
  opacity: 50;
}


.banner__con {
  height: 30vw;
  margin-left: 5.3%;
  padding-top: 15%;
  z-index: 1;
}

.banner__title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3vw;
  font-weight: 1000;
  padding-right: 65%;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.banner__desc {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1vw;
  font-weight: 600;
  padding-right: 65%;
  line-height: 1.3;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.4px;
}

.banner__buttons {
  margin-top: 4vw;
  display: flex;
  justify-content: right;
  
}

.t__rating {
  margin-top: -2px;
  padding: 0.5vw;
  aspect-ratio: 10/3.5;
  height: 2.4vw;
  background: #14141480;
  font-size: 1.1vw;
  border-left-style: solid;
  border-left-color: #ffffff;
  border-left-width: 0.25vw;
}

.banner__button:hover {
  opacity: 75%;
}
.banner--fadeBottom {
  margin-bottom: 4vw;
  height: 20vw;
  background-image: linear-gradient(
    to top,
    rgb(20, 20, 20, 1),
    rgba(20, 20, 20, 0)
  );
}
@media (max-width: 900px) {
  .banner__desc {
    font-size: 1.75vw;
  }
}

@media (max-width: 650px) {
}
